{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_portal_post_index') }}">Retour à la liste</a>
    <h1>{{ post.title }}</h1>
    <a href="{{ path('app_portal_post_update', {id: post.id}) }}">Éditer</a>
    <a class="delete-link" href="{{ path('app_portal_post_delete', {id: post.id}) }}">Supprimer</a>
    <p>Par <a href="{{ path('app_portal_author_indexposts', {id: post.writtenBy.id}) }}">{{ post.writtenBy.nickname }}</a>, le {{ post.publishedAt | date('d/m/Y') }}</p>

    {{ render_esi(controller('App\\Controller\\Portal\\AuthorController::sameAuthorPosts', {
        post: post.id
    })) }}
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}